@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	color-scheme: light dark;
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	color: var(--color-slate-900);
	background: var(--color-slate-50);
}

html,
body {
	min-height: 100%;
	margin: 0;
}

body {
	min-width: var(--container-xs);
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--color-slate-100);
		background: var(--color-slate-950);
	}
}
